vendor/
tmp/
report/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# CSV file
*.csv

# PDF file
*.pdf
!test.pdf

# Image file
*.jpeg
*.png
*.zip

# rabbitmq data
rabbitmq/

.DS_Store


deployment/local/.env
deployment/ci/ssl/nginx.key
deployment/ci/ssl/nginx.crt

# vscode
.vscode

# Vim
*.swp
